.card{
    margin-top:2%;
}
.card-header{
    color: white;
    font-weight: bold;
}
.card-header > span{
    color: rgb(47, 164, 231);
}
.title{
    /* margin-bottom:20px; */
    margin-top:20px;
    text-align: center;
    color: #818181;
    font-size: 1.4rem;
}
.historic{
    float: right;;
}